@use "src/styles" as *;

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-light;

  @extend %flex-between;

  padding: 0.5rem 1rem;
  // padding-bottom: 8rem;
  border-radius: $border-radius;
  color: white;
  cursor: pointer;
  height: 16vh;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: $box-shadow;
  }

  h1 {
    align-self: baseline;
    font-size: $title;
  }
}
