@import "./../../../Shared.scss";

.mian-nav-container {
  background-color: $white;
  @extend %flex-between;
  padding: 0 1.5rem 0 0;
  width: 100%;
  height: 3rem;
  box-shadow: $box-shadow;
}

.nav-name-container {
  @extend %flex-align;

  .nav-logo {
    background-color: blue;
    height: 100%;
    width: 3rem;
    @extend %center;
    color: white;
    font-weight: bold;
  }
  .project-name {
    color: blue;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 1rem;
  }
}

.nav-links-container {
  display: flex;

  div {
    cursor: pointer;
    @extend %flex-align;
    margin-left: 1.5rem;
    color: black;
    height: 100%;
    font-weight: 600;

    &:hover {
      border-bottom: 2px solid #3742fa;
      color: #3742fa;
    }

    p {
      margin-left: 0.5rem;
    }
  }
  .active-link {
    border-bottom: 2px solid #3742fa;
    color: #3742fa;
  }
}

.project-links-arrow {
  @extend %flex-align;
}

@media only screen and (min-width: 850px) {
  .project-links-arrow {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .nav-links-unactive {
    display: none;
  }
  .nav-links-active {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;

    div {
      padding: 0.5rem 0;
    }
  }
  .active-link {
    border: none !important;
  }
  .mian-nav-container {
    flex-direction: column;
    padding: 0;
  }
  .nav-name-container {
    justify-content: space-between;
    min-height: 3rem;
    padding-bottom: 1rem;

    .nav-logo {
      height: 4rem;

      p {
        padding-top: 1rem;
      }
    }
    .project-name {
      padding-top: 1rem;
    }
  }
  .project-links-arrow {
    margin-right: 1rem;
    padding-top: 1rem;

    .arrow-logo-down {
      transition: $transistion-ease;
      transform: rotateZ(180deg);
    }

    .arrow-logo-up {
      transition: $transistion-ease;
      transform: rotateZ(0deg);
    }
  }
}
