// Colors
//==================================================

$background-color: #dadada;
$border-color: lightgrey;
$white: white;
$header: rgb(248, 68, 68);
$primary: rgb(248, 68, 68);
$secondary: purple;

//==================================================
// Box Shadows
//==================================================
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-light: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//==================================================
// Transitions
//==================================================
$transistion-ease: all 0.5s ease-in-out;
//==================================================
// Other
//==================================================
$grid-gap: 1rem;
$content-padding: 1.25rem;
