@import "./../../../../../Shared.scss";

.task-card {
  position: relative;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 3px;
  margin-block: 1rem;

  .ellipsisDropDown {
    box-shadow: $box-shadow;
    border-radius: 3px;
    font-weight: 500;
    position: absolute;
    background-color: white;
    z-index: 2;
    right: 0.5rem;
    top: 2rem;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;

    p {
      border-bottom: 1px solid lightgray;
      cursor: pointer;
      padding: 0.5rem 0rem 0.5rem 1rem;

      &:hover {
        background-color: lightgray;
      }
    }
  }
  .ellipsisDropDownUnActive {
    display: none;
  }
}

.task-card-top,
.task-card-bottom {
  @extend %flex-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid lightgrey;

  .task-icon {
    cursor: pointer;
  }
}

.task-card-top {
  font-weight: 600;
}

.task-card-department {
  padding: 0.75rem 0.75rem 0;
  font-size: 0.9rem;
}

.task-card-bottom-date {
  @extend %flex-align;
  font-size: 0.9rem;

  p {
    padding-left: 0.5rem;
  }
}

.task-card-assignedTo {
  @extend %flex-align;
  padding: 0.75rem;

  p {
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 1rem;
  }
}
