@use "~/styles" as *;

.main {
}

@media only screen and (max-width: 850px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 1rem;
    // padding-left: 0.5rem;
    gap: 1rem;
  }
}
