@use "~/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  width: 100%;
  cursor: pointer;
  border-left: 4px solid transparent;
  transition: $transistion-ease;
}

.projects-container {
  overflow-y: auto;
  height: 60vh;
}

.icon-link {
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
  opacity: 0.7;
  border-left: 4px solid transparent;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, #27629c, $primary 60%);
    border-left: 4px solid $secondary;
    opacity: 1;
  }
}

.link-icon {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: clamp(0.8rem, 0.8vw, 0.8vw);
  border-radius: 3px;

  padding: 0.25rem 0.5rem;
  min-width: 1.85rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-light;
}

.link-name {
  font-size: clamp(1rem, 1vw, 1vw);
  margin-left: 1rem;
}

.activeLink {
  .icon-link {
    background: linear-gradient(to right, #27629c, $primary 90%);
    border-left: 4px solid $secondary;
    opacity: 1;
  }
}

.rotate {
  transition: $transistion-ease;
  transform: rotateZ(180deg);
}

@media only screen and (max-width: 1100px) {
  .main {
    padding-top: 3rem;
  }
  .projects-container {
    overflow-y: auto;
    height: 90vh;
  }
}

// .logo {
//   display: flex;
//   align-items: center;
//   padding: 0rem 1rem 0.5rem;
//   margin-left: 4px;

//   h2 {
//     font-weight: 600;
//     font-size: 1.15rem;
//   }
//   h3 {
//     font-size: clamp(1.15rem, 1vw, 1vw);
//     margin-left: 1rem;
//   }
// }
