@import "./../Shared.scss";

.header {
  background: linear-gradient($primary, $secondary);
  box-shadow: $box-shadow-light;
  color: $white;
  @extend %flex-between-column;
  max-height: 100vh;
  height: 100%;
  transition: $transistion-ease;
  position: fixed;
  z-index: 2;
}

.main-header-content {
  overflow-y: auto;
}

.top-header-content {
  padding-bottom: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;

  h2 {
    transition: $transistion-ease;
    font-size: 0%;
  }
}

.nav-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  h2 {
    transition: $transistion-ease;
    font-size: 0%;
  }
}

.activeTab {
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom-header-arrw-down-container {
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.expand-container {
  justify-content: flex-start;
  h2 {
    transition: all 0.5s ease-in-out 0.15s;
    display: inline;
    font-size: 100%;
    padding-left: 1rem;
  }
}

.bottom-header-arrw {
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.bottom-header-arrow-down-icon {
  transition: $transistion-ease;
  transform: rotateZ(180deg);
}

.bottom-header-arrow-up-icon {
  transition: $transistion-ease;
  transform: rotateZ(0deg);
}

.bottom-header-arrow-left-icon {
  transition: $transistion-ease;
  transform: rotateZ(-180deg);
}

.bottom-header-arrow-right-icon {
  transition: $transistion-ease;
  transform: rotateZ(0deg);
}

.bottom-header-logo {
  border-radius: 3px;
  box-shadow: $box-shadow-light;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    padding-top: 3.5rem;
    transform: translateX(0px);
    transition: $transistion-ease;
    position: fixed;
    height: 100%;
  }
  .top-header-content {
    display: none;
  }
  .unactive-side-nav {
    transform: translateX(-5rem);
    transition: $transistion-ease;
  }
  .active-side-nav {
    transform: translateX(0);
  }
}
