@use "src/styles" as *;

.container {
  background-color: white;
  color: #14358a;
}

.top {
  color: white;
  padding: 1rem clamp(1rem, 11vw, 20rem);
  clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%);
}

.topGif {
  position: relative;
  min-width: 10rem;
  min-height: 10rem;
  margin: 0 auto;
  padding: 0rem clamp(1rem, 11vw, 11vw);
  overflow: hidden;
  margin-top: -28vh;

  .gif {
    border: 4px solid rgba(172, 95, 230, 1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo-container {
    width: 100%;
    max-width: 100%;
    padding-block: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    img {
      max-width: 20vw;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .top {
    padding: 1rem 1.5rem;
  }
  .topGif {
    padding: 0rem 1.5rem;
  }
}
