@use "../../../../../abstracts/" as *;

.scroll-container {
  margin-block: 9rem 2rem;
  min-height: 100vh;
  margin-inline: 1rem;
}

.tasks-container {
  display: flex;
}

.add-item-btn-container {
  background-color: #f4f5f7;
  border-radius: 3px;
  margin-right: 2rem;
  height: 100%;
  box-shadow: $box-shadow-light;
}
