@use "~/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h2 {
    font-size: clamp(1.75rem, 1.75vw, 1.75vw);
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  form {
    flex-direction: column;
  }
  label {
    // font-size: clamp(1.15rem, 1.15vw, 1.15vw);
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 500;
  }

  input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid #e0e0e0;
    font-size: clamp(1rem, 1vw, 1vw);
    outline: none;
    resize: none;
    font-weight: 600;
    color: black;

    &:hover {
      background-color: $primary-light;
    }

    &:focus {
      outline: none;
      border: 1px solid $primary;
      background-color: white;
    }
  }
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;

  .left-button {
    margin-right: 1rem;
  }

  button {
    background-color: $primary;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    border: none;
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 600;
    width: 100%;

    &:hover {
      opacity: 0.9;
    }
  }
}

.forgot {
  // text-align: center;
  font-size: 1rem;
  font-weight: 500;
  // text-decoration: underline;
  color: $primary;
  cursor: pointer;
  margin-block: 1rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

@media only screen and (min-width: 600px) {
  .main {
    form {
      display: flex;
      width: 60%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .buttons {
    flex-direction: column;

    .left-button {
      margin-bottom: 1rem;
    }
  }
}
