.main {
  margin-top: 1.5rem;
  margin-left: 0.5rem;

  p {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.quill {
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
