@import "./../../../../../Shared.scss";

.dashboard-finance-container {
  background-color: white;
  border-radius: 3px;
  color: black;
  h1 {
    border-bottom: $border-color 2px solid;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

.dashboard-finance-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.dashboard-finance-details {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;

  div {
    display: flex;
  }
}

.dashboard-finance-graph {
  display: flex;
  justify-content: center;
  align-items: center;
}
