@import "./../../../../../Shared.scss";

.dashboard-details-container {
  height: 50vh;
  box-shadow: $box-shadow;
  line-height: 30px;
  overflow: auto;
  background-color: white;
  border-radius: 3px;
  color: black;
  h1 {
    border-bottom: $border-color 2px solid;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    // position: fixed;
    // background-color: white;
    // width: 100%;
  }
}

.dashboard-details-content {
  padding: 0rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;

  .details-content-heading {
    font-size: 1.1rem;
    font-weight: 600;
    padding-block: 0.5rem 0rem;
  }

  p {
    span {
      cursor: pointer;
      font-style: italic;
      white-space: nowrap;
      font-weight: 600;
    }
  }

  ul {
    list-style: none;
  }
}
