.taskSection-task {
  background-color: white;
  border-radius: 3px;
  padding: 1rem;
}

.task-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .task-bottom-left {
    display: flex;

    p {
      margin-right: 1rem;
    }
  }

  .task-bottom-right {
    display: flex;
  }
}
