@import "./../../../../../../Shared.scss";

.modal-body {
  textarea {
    font-size: 1rem;
    border: none;
    background: $background-color;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    max-height: 20vh;
    max-width: 100%;
    min-width: 100%;
    // resize: none;
    margin-bottom: 0.75rem;

    &:focus {
      box-shadow: $box-shadow-light;
      outline: none;
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    .modal-post-btn {
      background-color: $secondary;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      font-size: clamp(0.8rem, 1.1vw, 1.1vw);
      font-weight: 600;
      padding: 0.25rem 0.5rem;
      min-width: 6rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.comments-body {
  max-height: 20rem;
  padding: 0rem 1.5rem;
  overflow: scroll;
}

.comment {
  padding-top: 3rem;

  .top-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;

    .top-comment-left {
      display: flex;
      align-items: center;

      p {
        margin-left: 1rem;
      }
    }
  }
  .bottom-comment {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
