@use "~/styles" as *;

.main {
  // display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background-color;
}

.right-container {
  width: calc(100% - 3.5%);
  margin-left: 3.5%;
}
