@use "~/styles" as *;

.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background-color;
}

.right-container {
  // width: calc(100vw - 4.5rem);
  padding-left: 4.5rem;
}

@media only screen and (max-width: 1100px) {
  .right-container {
    width: 100vw;
    padding-left: 0;
  }
}
