@use "src/styles" as *;

button {
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  border: none;
  font-size: $small-text;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: $primary;
  color: white;
}

.secondary {
  background-color: $primary-light;
  color: black;
}

.danger {
  background-color: $primary-dark;
  color: white;
}
