@use "../styles" as *;

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  // border-radius: 50px;
}

.dashboard-container {
  background-color: $background-color;
  // max-width: 100vw;
  min-height: 100vh;
  // overflow-y: scroll;
  // @extend %flex-between;
}

.content {
  // width: calc(100% - 3.5rem);
  // margin-left: 3.5rem;
}

@media only screen and (max-width: 1100px) {
  .content {
    padding-top: 4rem;
    width: 100%;
    margin-left: 0;
  }
}
