@use "~/styles" as *;

.main {
  display: flex;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.user {
  margin-right: 0.5rem;
  min-width: 1rem;
}

.comment-container {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
}

.comment {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .name {
    font-weight: 600;
    margin-right: 10px;
  }

  .date {
    font-size: 0.8rem;
    color: $primary-dark;
  }
}

.bottom-bttns {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 0.8rem;

  text-decoration: underline;

  p {
    margin-right: 10px;
    cursor: pointer;
  }
}
