@import "./../Shared.scss";

.responsive-nav {
  background: $header;
  box-shadow: $box-shadow;
  color: $white;
  @extend %flex-align;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.responsive-header-logo {
  font-weight: 800;
  font-size: 0.9rem;
  font-style: italic;
  @extend %flex-align;

  .arrow-logo-left {
    transition: $transistion-ease;
    transform: rotateZ(180deg);
  }

  .arrow-logo-right {
    transition: $transistion-ease;
    transform: rotateZ(0deg);
  }

  h2 {
    padding-right: 1.5rem;
  }

  div {
    display: flex;
    cursor: pointer;
  }

  .hamburger-icon {
    font-size: 1.1rem;
  }
}

.responsive-header-links > * {
  cursor: pointer;
  margin-left: 1rem;
}

@media only screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}
