@use "~/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  form {
    flex-direction: column;
    padding-top: 8rem;
  }
  label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $primary-light;
    font-size: 1rem;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  width: 100%;

  .left-button {
    margin-right: 1rem;
  }

  button {
    background-color: $primary;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    font-size: $small-text;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }
}

.forgot {
  // text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
  margin-bottom: 1rem;
}

.signup {
  font-size: 1rem;
  font-weight: 500;

  span {
    text-decoration: underline;
    color: $primary;
    cursor: pointer;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    form {
      display: flex;
      width: 60%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main {
    form {
      padding-top: 5rem;
    }
  }

  .buttons {
    flex-direction: column;

    .left-button {
      margin-bottom: 1rem;
    }
  }
}
