@import "./../../../../../Shared.scss";

.dashboard-time-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard-time-left {
  background-color: white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  color: black;
}

.dashboard-time-right {
  background-color: white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  color: black;
}
