@use "../../../../../../../../../abstracts" as *;

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  width: 100%;

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      font-size: 1.25rem;
      margin-left: 1rem;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}

.left {
  input {
    border: white 1px solid;
    outline: none;
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;

    &:hover {
      background-color: $background-color;
    }

    &:focus {
      background-color: white;
      border: blue 1px solid;
      outline: none;
    }
  }
}
