@use "../../../../../../../../../abstracts" as *;

.task-modal-header {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  width: 100%;

  .task-modal-header-right {
    display: flex;
    justify-content: flex-end;

    .task-modal-header-icon {
      font-size: 1.5rem;
      margin-left: 1rem;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}

.task-modal-header-left {
  input {
    border: white 1px solid;
    outline: none;
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;

    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: white;
      border: blue 1px solid;
      outline: none;
    }
  }
}
