@use "src/styles" as *;

.topSection {
  padding-block: 6rem 16rem;
  text-align: center;
  width: 55%;
  margin: 0 auto;

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    line-height: 2rem;
    padding-inline: 5rem;
    margin-bottom: 1.5rem;
  }

  button {
    color: white;
    background: linear-gradient(
      90deg,
      rgba(106, 54, 255, 1) 0%,
      rgba(172, 95, 230, 1) 100%
    );
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
  }
}
