@use "~/styles" as *;

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.image-container {
  overflow: hidden;
  max-height: 100vh;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.form-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    text-align: right;
    color: $primary;
  }
}

.container {
  padding-top: 3rem;
}

.button {
  background-color: $primary !important;
}

@media only screen and (max-width: 1100px) {
  .main {
    grid-template-columns: 1fr;
  }

  .image-container {
    display: none;
  }
}
