@use "~/styles" as *;

.scroll-container {
  padding-block: 1rem;
  // min-height: calc(100vh - 1rem);
  overflow: scroll;
  // margin-right: 1rem;
  min-height: calc(100vh - 3.7rem);
}

.tasks-container {
  display: flex;
  padding-inline: 1rem;
}

.add-item-btn-container {
  background-color: #f4f5f7;
  border-radius: 3px;
  height: 100%;
  box-shadow: $box-shadow-light;
}
