@import "./../../../../Shared.scss";

.modalAdd-body {
  border-block: 1.5px solid lightgrey;
  padding: 0.5rem 1rem;

  p {
    font-size: clamp(0.8rem, 1vw, 1vw);
    font-weight: 500;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
  }

  input {
    background-color: $background-color;
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    width: 100%;
    margin-bottom: 1rem;

    &:focus {
      box-shadow: $box-shadow-light;
      outline: none;
    }
  }
  select {
    background-color: $background-color;
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 0.45rem 0.5rem;
    width: 100%;
    margin-bottom: 1rem;

    &:focus {
      box-shadow: $box-shadow-light;
      outline: none;
    }
  }
  textarea {
    font-size: 1rem;
    border: none;
    background: $background-color;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    max-height: 20vh;
    height: 15vh;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0.75rem;

    &:focus {
      box-shadow: $box-shadow-light;
      outline: none;
    }
  }
}

.modal-add-projectName {
  display: flex;
  margin-top: 1rem;

  .nav-logo-addProject {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0 0.75rem;
    font-weight: 900;
    width: 3rem;
    border-radius: 3px;

    p {
      padding: 0;
      margin: 0;
    }
  }
  .project-name-input {
    background-color: white;
    border-bottom: 2px solid $secondary;

    &:focus {
      box-shadow: none;
    }
  }
}

.modal-add-logo-details {
  display: flex;
  justify-content: space-between;

  .logo-initials {
    width: 48%;
  }
  .logo-color {
    width: 48%;
  }
}

@media only screen and (max-width: 400px) {
  .edit-bttn {
    display: none !important;
  }
}
