@import "./../../Shared.scss";

.project-hub-main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.project-hub-card-container {
  border-radius: 3px;
  box-shadow: $box-shadow;
  padding: 1rem;
  background-color: white;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.project-hub-card-header {
  @extend %flex-align;
  height: 2.5rem;
}

.project-hub-card-header-right {
  @extend %flex-align;
  justify-content: space-between;
  width: 100%;
  h1 {
    padding-left: 1rem;
    font-size: clamp(1rem, 1.3vw, 1.3vw);
  }
}

.project-hub-card-graph {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-block: 1.75rem;
}

.project-hub-card-days {
  padding-bottom: 1.75rem;
  display: flex;

  p {
    font-size: 1.15rem;
    margin: 0 auto;
  }
}

.project-hub-card-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .card-bottom-red {
    border-top: red 5px solid;
  }
  .card-bottom-blue {
    border-top: blue 5px solid;
  }
  .card-bottom-green {
    border-top: green 5px solid;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding-top: 0.25rem;
      font-size: clamp(0.75rem, 1vw, 1vw);
    }
  }
}

@media only screen and (max-width: 1300px) {
  .project-hub-main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 825px) {
  .project-hub-main-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .project-hub-main-container {
    grid-template-columns: 1fr;
  }
}
