@use "../../../../../../../../abstracts" as *;

.main {
  background-color: $modal-background;
  padding: 1rem;
  min-height: 70vh;
  max-height: 90vh;
  overflow-y: auto;
}

.body {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 1rem;
}
