@use "~/styles" as *;

.watch {
  margin-bottom: 1rem;

  h5 {
    @include h5($primary-dark);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .watch-content {
    @extend %modalItem;
    padding: 0.5rem;

    p {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  }
}
