@use "../../../../../../abstracts" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @extend %flex-align;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  transition: $transistion-ease;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  box-shadow: $box-shadow;
  width: clamp(20%, 55rem, 90%);
  border-radius: 3px;
  background-color: $white;
  transform: translateY(-200px);
  transition: $transistion-ease;

  .modal-header {
    // background-color: $primary;
    background: linear-gradient(to right, $primary, $secondary);
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 0.75rem;
    border-radius: 3px;
  }
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-body {
  border-block: 1.5px solid lightgrey;
  padding: 0.5rem 1rem;

  div {
    padding-bottom: 0.4rem;

    h2 {
      font-size: clamp(0.8rem, 1.1vw, 1.1vw);
      font-weight: 600;
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }
    input {
      background-color: $background-color;
      font-size: clamp(0.8rem, 1.1vw, 1.1vw);
      font-weight: 500;
      border: none;
      border-radius: 3px;
      padding: 0.5rem 0.5rem;
      width: 100%;

      &:focus {
        box-shadow: $box-shadow-light;
        outline: none;
      }
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 1rem;

  button {
    background-color: $secondary;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    min-width: 6rem;
    margin-left: 1rem;

    &:hover {
      opacity: 0.8;
    }
  }
  .modal-close-btn {
    background-color: $primary;
  }
}
