@use "../../../../../../../../../abstracts" as *;

.main {
  // display: flex;
  // flex-wrap: wrap;
  // margin-top: 1rem;
  // padding-left: 0.5rem;
}

.due-date {
  margin-left: 2rem;
  .due-date-content {
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 0;
  }
}
