@import "./../../../Shared.scss";

.dashboard-main-container {
  display: grid;
  gap: $grid-gap;
  padding: $content-padding;

  div {
    div {
      background-color: white;
      border-radius: 3px;
      color: black;
    }
  }
}

.dashboard-top-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $grid-gap;
}

.dashboard-bottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $grid-gap;
}
