@use "../../../../../../../../../../abstracts" as *;

.watch {
  margin-bottom: 1rem;

  .watch-content {
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: lightgray;
    width: 100%;

    p {
      margin-left: 0.5rem;
    }
  }
}
