@use "~/styles" as *;

.main {
  background: $primary;
  color: $white;
  @extend %flex-align;
  justify-content: space-between;
  padding: 0rem 1rem;
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 3;
}

.left {
  @extend %flex-align;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;

  h2 {
    font-weight: 600;
    font-size: 1.15rem;
  }
}

.icon-container {
  display: flex;
  align-items: center;
}

.link-icon {
  display: flex;
  align-self: center;
  font-size: clamp(1.15rem, 1vw, 1vw);
  margin-left: 1rem;
}

.arrow-logo-left {
  transition: $transistion-ease;
  transform: rotateZ(180deg);
}

.arrow-logo-right {
  transition: $transistion-ease;
  transform: rotateZ(0deg);
}

@media only screen and (min-width: 1100px) {
  .main {
    display: none;
  }
}
