@use "~/styles" as *;

.main {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 2rem;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      font-size: 1rem;
      margin-left: 1rem;
      cursor: pointer;

      &:hover {
        color: $primary-dark;
      }
    }
  }
}

.left {
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.25rem;
    color: $primary-dark;
    margin-right: 0.25rem;
  }

  textarea {
    border: $modal-background 1px solid;
    background-color: $modal-background;
    outline: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    width: 100%;
    padding: 0.25rem 0.25rem;
    border-radius: $border-radius;
    resize: none;

    &:hover {
      background-color: $primary-light;
    }

    &:focus {
      background-color: white;
      border: $primary 1px solid;
      outline: none;
    }
  }
}
