@use "~/styles" as *;

.search-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  padding-block: 0.5rem;
  position: relative;

  .search-icon {
    color: $primary-dark;
    position: absolute;
    margin-left: 0.75rem;
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $primary-light;
    padding: 0.25rem 0.5rem 0.25rem 2.25rem;
    font-size: 1rem;

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}
