@use "src/styles" as *;

.main {
  padding: 1rem clamp(1rem, 11vw, 20rem);

  h1 {
    font-size: clamp(2rem, 3.25vw, 3.25vw);
    font-weight: 700;
    padding-block: clamp(1rem, 5vh, 30rem);
    text-align: center;
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding-block: 3rem 3rem;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 4px solid rgba(106, 54, 255, 1);
  padding: 2rem 3rem;
  box-shadow: $box-shadow;

  .stars {
    color: rgba(172, 95, 230, 1);
    color: gold;
    font-size: clamp(1.5rem, 1.5vw, 1.5vw);
  }

  .reviewText {
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 500;
    line-height: 2rem;
    padding-block: 1rem;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;

  .userImg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: aliceblue;

    .img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  p {
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 500;
    padding-top: 0.25rem;
  }
}

@media only screen and (max-width: 1300px) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  .main {
    padding: 1rem 1.5rem;
  }

  .review {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .reviews {
    grid-template-columns: repeat(1, 1fr);
  }
}
