@import "./../../../../../Shared.scss";

.dashboard-deadlines-container {
  background-color: white;
  border-radius: 3px;
  color: black;
  max-height: 50vh;
  display: grid;
  overflow: auto;

  div {
    display: flex;
  }
}

.dashboard-deadlines-header {
  border-bottom: $border-color 2px solid;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  h1 {
    font-size: 1.25rem;
  }
  p {
    padding-left: 1rem;
  }
}

.dashboard-deadlines-content {
  border-bottom: $border-color 1px solid;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadlines-left {
  div {
    display: flex;
    flex-direction: column;
    .deadlines-date {
      border-right: 4px solid blue;
      padding: 0 1rem 0 0;
    }
  }

  .deadlines-task {
    padding-left: 1rem;
  }
}

.deadlines-right {
  display: flex;
  align-items: center;
  .deadlines-right-icon {
    cursor: pointer;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .dashboard-deadlines-header {
    align-items: flex-start;
    flex-direction: column;

    h1 {
      padding-bottom: 0.5rem;
    }
    p {
      padding-left: 0;
    }
  }
  .dashboard-deadlines-content {
    flex-direction: column;
  }
  .deadlines-right {
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
