// Colors
//==================================================

$background-color: #dadada;
$border-color: lightgrey;
$white: white;
$header: rgb(248, 68, 68);
$primary: rgb(248, 68, 68);
$secondary: purple;
// $header: #373737;
// $primary: #373737;
// $secondary: #373737;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-light: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$transistion-ease: all 0.5s ease-in-out;
$grid-gap: 1rem;
$content-padding: 1.25rem;

//================================================
// Placeholders
//================================================
%flex-align {
  display: flex;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-between-column {
  @extend %flex-between;
  flex-direction: column;
}

%flex-center {
  @extend %flex-between;
  justify-content: center;
}

%center {
  @extend %flex-align;
  justify-content: center;
}

%flex-column {
  @extend %flex-align;
  flex-direction: column;
}

//================================================
// Mixin
//================================================
