@use "../../../styles" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @extend %flex-center;
  z-index: 5;
  opacity: 0;
  transition: $transistion-ease;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  box-shadow: $box-shadow;
  width: clamp(20%, 65rem, 90%);
  border-radius: 3px;
  background-color: $white;
  transform: translateY(-200px);
  transition: $transistion-ease;
}

.modal.show .modal-content {
  transform: translateY(0);
}
