@use "src/styles" as *;

.header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 1rem clamp(1rem, 11vw, 20rem);

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      cursor: pointer;
      margin-left: 1rem;
      margin-block: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: 600;
      font-size: 1rem;

      border-radius: 5px;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(106, 54, 255, 1) 0%,
          rgba(172, 95, 230, 1) 100%
        );
      }
    }
  }

  button {
    color: white;
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(106, 54, 255, 1) 0%,
        rgba(172, 95, 230, 1) 100%
      );
      border: 1px solid transparent;
    }
  }

  .inBtn {
    border: 1px solid transparent;
  }

  .upBtn {
    border: 1px solid white;
    margin-left: 1rem;
  }
}

.scrolled {
  background-color: white;
  color: $primary;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: $box-shadow;

  li {
    &:hover {
      color: white;
      background: $primary;
    }
  }

  .upBtn {
    border: 1px solid $primary;
  }

  button {
    color: $primary;

    &:hover {
      color: white;
    }
  }
}
