@use "src/styles" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      cursor: pointer;
      margin-left: 1rem;
      margin-block: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: 400;
      border-radius: 3px;

      &:hover {
        background-color: $primary-dark;
      }
    }
  }

  button {
    color: white;
    background-color: #1746b1;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
  }

  .inBtn {
    &:hover {
      // border: 1px solid white;
    }
  }

  .upBtn {
    border: 1px solid white;
    margin-left: 1rem;
  }
}
