@use "../../../../../../abstracts" as *;

.dashboard-deadlines-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  color: black;
  height: 45vh;
  display: grid;
  grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: auto;

  div {
    display: flex;
  }
}

.dashboard-deadlines-header {
  border-bottom: $secondary 2px solid;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.25rem;
  }
}

.dashboard-deadlines-content {
  border-bottom: $border-color 1px solid;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.deadlines-left {
  div {
    display: flex;
    flex-direction: column;
    .deadlines-date {
      padding: 0 1rem 0 0;
    }
  }

  .deadlines-task {
    padding-left: 1rem;
  }
}

.deadlines-right {
  display: flex;
  align-items: center;
  .deadlines-right-icon {
    cursor: pointer;
    margin-left: 1.25rem;
  }
  .deadlines-right-icon-trash {
    &:hover {
      color: red;
    }
  }
  .deadlines-right-icon-edit {
    &:hover {
      color: red;
    }
  }
  .deadlines-right-icon-check {
    &:hover {
      color: green;
    }
  }
}

@media only screen and (min-width: 500px) {
  .dashboard-deadlines-content {
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .dashboard-deadlines-header {
    align-items: flex-start;
    flex-direction: column;

    h1 {
      padding-bottom: 0.5rem;
    }
    p {
      padding-left: 0;
    }
  }
  .dashboard-deadlines-content {
    flex-direction: column;
  }
  .deadlines-right {
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
