@use "~/styles" as *;

.main {
  background-color: $primary;
  color: $white;
  @extend %flex-between-column;
  height: 100%;
  overflow-x: none;
  padding: 0.25rem 0 0 0;
  position: fixed;
  z-index: 2;
}

.nav-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  width: 100%;
  cursor: pointer;
}

.rotate {
  transform: rotateZ(180deg);
}

@media only screen and (max-width: 1100px) {
  .main {
    transition: $transistion-ease;
  }
  .arrow-container {
    display: none;
  }
  .hide {
    transform: translateX(-5rem);
    transition: $transistion-ease;
  }
}
