.taskSection-container {
  background-color: white;
  padding: 1rem;
  margin-right: 3rem;
}

.taskSection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 20rem;
}
