.taskSection-container {
  background-color: #f4f5f7;
  border-radius: 3px;
  padding: 1rem;
  margin-right: 2rem;
  height: 100%;

  button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: gray;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    .plus-button {
      margin-right: 1rem;
    }

    p {
      font-size: 1rem;
    }

    &:hover {
      background-color: #e6e6e6;
      color: black;
    }
  }
}

.taskSection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 20rem;

  .ellipsis {
    cursor: pointer;
  }
}
