@use "src/styles" as *;

.main {
  position: relative;
}

.new-container {
  box-shadow: $box-shadow-light;
  @extend %flex-between;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  background-color: $primary-light;
  color: $primary-dark;
  cursor: pointer;
  height: 16vh;
  width: 100%;

  h1 {
    font-size: $title;
  }
}

.popup-container {
  padding: 1rem;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;

    .closeBtn {
      cursor: pointer;
      color: $primary-dark;
    }
  }
}

.background {
  padding-top: 0.5rem;

  .errorText {
    padding-top: 0.25rem;
  }

  p {
    font-size: $small-text;
    font-weight: 600;
    color: $primary-dark;
    padding-bottom: 0.5rem;
  }

  .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5px;
    padding: 7.5px;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    font-size: $small-text;
    font-weight: 400;
    color: $primary-dark;
    cursor: pointer;

    img {
      width: 100%;
      height: 2.5rem;
      border-radius: 0.25rem;
    }

    .color {
      width: 100%;
      height: 2.5rem;
      border-radius: 0.25rem;
    }
    .loader {
      width: 100%;
      height: 2.5rem;
      border-radius: 0.25rem;
      border: 1px solid $border-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .color,
  img {
    border: 2px solid transparent;

    &:hover {
      border: 2px solid $secondary;
    }
  }

  .selected {
    border: 2px solid $secondary;
  }
}

.title {
  padding-top: 0.25rem;
  p {
    font-size: $small-text;
    font-weight: 600;
    color: $primary-dark;
    padding-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    font-size: $small-text;
    font-weight: 400;
    margin-bottom: 0.5rem;

    &:focus {
      border: $primary 1px solid;
      outline: none;
    }
  }

  .errorText {
    padding-bottom: 1rem;
  }
}

.errorText {
  color: $primary !important;
  font-size: 0.7rem !important;
}
