@use "src/styles" as *;

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 1300px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem;
    gap: 1.5rem;
  }
}

@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .main {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
  }
}
