@use "~/styles" as *;

.avatar {
  background-color: $primary;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  margin-right: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    z-index: 100 !important;
  }
}
